creds.json
venv/*

.idea/
__pycache__/
*.py[cod]

chromedriver
debian-binary


cmnotes.md
/idph_csv/IDPH Stats County.gsheet
/idph_csv/IDPH Stats Totals.gsheet
/idph_csv/IDPH Stats Zip.gsheet
/chromedriver.exe
/news_data/IL Covid News Results.gsheet
/news_data/
